{% extends 'base.html.twig' %}

{% block body %}
    <div class="table-responsive">
        <div style="text-align: center">
            <h1>Notifications  List</h1>

            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Sr.</th>
                        <th>Message</th>
                        <th>Active</th>
                        <th>Created On</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>{% set cntr=0 %}
                    {% for notification_message in pagination %}
                        {% set cntr=cntr+1 %}
                        <tr>
                            <td>{{cntr}}</td>
                            <td>{{ notification_message.message }}</td>
                            <td>{% if notification_message.active %}Yes{% else %}No{% endif %}</td>
                            <td>{% if notification_message.createdOn %}{{ notification_message.createdOn|date('Y-m-d H:i:s') }}{% endif %}</td>
                            <td>
                                <ul>
                                    <li>
                                        <a onclick="javascript:if (!confirm('Are you sure? you want to send this notification '))
                                                    return false;" href="{{ path('notification_message_send', { 'id': notification_message.id }) }}">Send</a> |
                                        <a href="{{ path('notification_message_edit', { 'id': notification_message.id }) }}">Edit</a> |
                                        <a onclick="javascript:if (!confirm('Do you want to remove this record ?'))
                                                    return false;" href="{{path('notification_message_delete', { 'id': notification_message.id })}}" >Remove</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div></div>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
    <ul>
        <li>
            <a href="{{ path('notification_message_new') }}" style="text-decoration: underline;">Create a new message</a>
        </li>
    </ul>
{% endblock %}
