{% extends 'base.html.twig' %}

{% block body %}
    <h1>Answer List</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Text</th>
                <th>Count</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for answer in answers %}
            <tr>
                <td><a href="{{ path('answer_show', { 'id': answer.id }) }}">{{ answer.id }}</a></td>
                <td>{{ answer.text }}</td>
                <td>{{ answer.count }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('answer_show', { 'id': answer.id }) }}">Show</a>
                        </li>
                        <li>
                            <a href="{{ path('answer_edit', { 'id': answer.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('answer_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
