{% extends 'base.html.twig' %}

{% block body %}

    <h1 style="margin-right:100px;">Surveys</h1>
    {{error}}
    <form name="surveyform" id="surveyform" method="post" action="">
        <input type="hidden" name="survey_id" value="{{survey.id}}" />
        <div>{{ form_label(edit_form.eventId) }}
            {{ form_errors(edit_form.eventId) }}
            {{ form_widget(edit_form.eventId) }}</div>
        <div><label for="survey_name">Survey Name</label>
            <input type="text" id="survey_name" name="survey_title" required="required" maxlength="255" value="{{survey.title}}" /></div>

        <div><label for="survey_introduction">Introduction</label>
            <textarea id="survey_introduction" name="descriptions" required="required">{{survey.descriptions}}</textarea></div>

        <div><label for="user_active">Active</label>
            <input type="checkbox" id="user_active" name="active" value="1" {% if survey.active==1 %} checked="checked" {% endif %} />
        </div>
        {% set i=1 %}
        {% for quess in ques %} <div class="questionbox">
                <input type="hidden" name="quesId[]" value="{{quess.id}}" />
                <label for="survey_question">Question: </label>
                <input type="text" value="{{quess.text}}" id="survey_question" required="required" name="question[]"/>
                {% if i>1 %}<input type="button" id="survey_question_button^{{quess.id}}" name="del" class="remove" value="Delete" />{% endif %}




                <div><label for="survey_answer1">Answer: 1</label>
                    <input type="text" id="survey_answer1" name="answer1[]" required="required" value="{% if ans[quess.id][0] is defined %} {{ans[quess.id][0]}} {% endif %}"/>
                    <input type="hidden" name="answer1id[]" value="{% if ans[quess.id][0] is defined %} {{ans[quess.id]['ansId'][0]}} {% endif %}" />
                    <label for="survey_answer2">Answer: 2</label>
                    <input type="text" id="survey_answer2" required="required" name="answer2[]"  value="{% if ans[quess.id][1] is defined %} {{ans[quess.id][1]}} {% endif %}"/>
                    <input type="hidden" name="answer2id[]" value="{% if ans[quess.id][1] is defined %} {{ans[quess.id]['ansId'][1]}} {% endif %}" />
                   </div>
				   <div>
					<label for="survey_answer3">Answer: 3</label>
                    <input type="text" id="survey_answe3r" required="required" name="answer3[]" value="{% if ans[quess.id][2] is defined %} {{ans[quess.id][2]}} {% endif %}"/>
                    <input type="hidden" name="answer3id[]" value="{% if ans[quess.id][2] is defined %} {{ans[quess.id]['ansId'][2]}} {% endif %}" />
                    <label for="survey_answer4">Answer: 4</label>
                    <input type="text" id="survey_answer4" required="required" name="answer4[]"  value="{% if ans[quess.id][3] is defined %} {{ans[quess.id][3]}} {% endif %}"/>
                    <input type="hidden" name="answer4id[]" value="{% if ans[quess.id][3]  is defined %} {{ans[quess.id]['ansId'][3]}} {% endif %}" />

                </div><hr/></div>

            {% set i = i + 1%}
        {% endfor %}
        <div id="schedule_add" class="schedule_add">

        </div>

        <input type="button" value="Add another question and answer" class="addbutt" id="sub"/>
        <input type="submit" value="Done" id="sub"/>
    </form>
    <br>
    <ul>
        <li>
            <a href="{{ path('survey_index') }}">Back to the list</a>
        </li>
    </ul>
    <script type="text/javascript">

        $(function () {
            jQuery.noConflict();
                    var i = 1 +{{ques|length}} ;
                  
                    //fadeout selected item and remove
                    $('.remove').live('click', function () {
                        $(this).attr("disabled",false);
                         var quesid = this.id.split("^");
                        if (quesid[1]!=""){
                            
                            $.ajax({
                                url: "{{domain}}/question/deletequestion/" + quesid[1]+"/answer",
                                beforeSend: function (xhr) {

                                }
                            })
                            .done(function (data) {
                              
                            });
                        }
                        i--;
                         $('#sub').attr("disabled",false);
                        $(this).parent().fadeOut(300, function () {
                            $(this).empty();
                            return false;
                        });
                 });
        //add input

                $('#sub').click(function () {
                    var myans = '<div><label for="survey_answer1">Answer: 1</label><input type="text" required="required" id="survey_answer1" name="answer1[]"/><label for="survey_answer2">Answer: 2</label><input required="required" type="text" id="survey_answer2" name="answer2[]"/></div><div><label for="survey_answer3">Answer: 3</label><input required="required" type="text" id="survey_answe3r" name="answer3[]"/><label for="survey_answer4">Answer: 4</label><input required="required" type="text" id="survey_answer4" name="answer4[]"/></div>';
                    var options = '<div class="questionbox"><label class="survey_ques" id="survey_ques_' + i + '" for="survey_question">Question: </label><input type="text" required="required"  name="question[]" value="" id="survey_question"/><input type="button" id="survey_question_button" name="del" class="remove" value="Delete" />' + myans + '<hr /></div>';
                    if (i < 11) {
                        $(options).fadeIn("slow").appendTo('#schedule_add');
                       
                        $(this).attr("disabled",false);
                        i++;
                    } else {
                        $(this).attr("disabled",true);
                        alert("You are allowed to add maximum 10 question at a time")
                    }

                    return false;
                });
                
                 if (i > 11) {
                     $('#sub').attr("disabled",true);
                 }
                return false;
        });


    </script>
{% endblock %}
