{% extends 'base.html.twig' %}

{% block body %}
    <h1>Employee</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ employee.id }}</td>
            </tr>
            <tr>
                <th>Fname</th>
                <td>{{ employee.fname }}</td>
            </tr>
            <tr>
                <th>Lname</th>
                <td>{{ employee.lname }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ employee.email }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ employee.password }}</td>
            </tr>
            <tr>
                <th>Mobile</th>
                <td>{{ employee.mobile }}</td>
            </tr>
            <tr>
                <th>Sex</th>
                <td>{{ employee.sex }}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td>{{ employee.picture }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ employee.address }}</td>
            </tr>
            <tr>
                <th>Userid</th>
                <td>{{ employee.userId }}</td>
            </tr>
            <tr>
                <th>Createdon</th>
                <td>{% if employee.createdOn %}{{ employee.createdOn|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Modifiedon</th>
                <td>{% if employee.modifiedOn %}{{ employee.modifiedOn|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{% if employee.active %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('employee_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('employee_edit', { 'id': employee.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
