<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Change Password{% endblock %}</title>

        <!-- Bootstrap Core CSS -->
        <link href="{{asset('assets/css/bootstrap.min.css')}}" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="{{asset('assets/css/style.css')}}" rel="stylesheet">
        <!-- Custom Fonts -->
        <link href="{{asset('assets/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{{asset('assets/js/jquery-ui-themes/themes/smoothness/jquery-ui.css')}}">

        <script src="http://code.jquery.com/jquery-1.8.2.js"></script>
        <script src="http://code.jquery.com/ui/1.9.0/jquery-ui.js"></script>

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
		    {% block stylesheets %}{% endblock %}

    </head>
<body>

    <div class="container">
        <div class="row">
            <div class="form_bg3">
                <div class="formContainer">
				{% block body %}
                    <h1>New Password</h1>
     <div id="error_mess">{{error}}</div>
    <div id="success_mess">{{message}}</div>
    <form name="updatepassword" method="post" action="" onsubmit="javascript:return checkform();">
        <div><label for="password_new" class="required">New Password</label>
            <input type="password" id="password_new" name="newpassword" required="required" maxlength="255"/>
        </div>
        <div><label for="password_confirm" class="required">Confirm Password</label>
            <input type="password" id="password_confirm" name="confirmpassword" required="required" maxlength="255"/>
        </div>

        <input type="submit" value="Create" id="create" />
    </form>
<script type = "text/javascript" >
        $(function () {
            jQuery.noConflict();
           
        });
        function checkform(){
             if($('#password_confirm').val()!=$('#password_new').val()){
                alert("Password must match");
                return false;
            }
            return true;
        }
</script>
{% endblock %}
         </div>
        </div>
    </div>
</div><!-- /container -->

{% block javascripts %}{% endblock %}
<!-- jQuery -->
<script src="{{asset('assets/js/jquery.js')}}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{asset('assets/js/bootstrap.min.js')}}"></script>

</body>
</html>