{% extends 'base.html.twig' %}

{% block body %}
    <h1>Message</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ message.id }}</td>
            </tr>
            <tr>
                <th>Sendto</th>
                <td>{{ message.sendto }}</td>
            </tr>
            <tr>
                <th>Subject</th>
                <td>{{ message.subject }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ message.message }}</td>
            </tr>
            <tr>
                <th>Sentstatus</th>
                <td>{% if message.sentStatus %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Userid</th>
                <td>{{ message.userId }}</td>
            </tr>
            <tr>
                <th>Createdon</th>
                <td>{% if message.createdOn %}{{ message.createdOn|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Modifiedon</th>
                <td>{% if message.modifiedOn %}{{ message.modifiedOn|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('messages_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('messages_edit', { 'id': message.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
